<p>calculadora-salario works!</p>
<div>
  <h2>Calculadora de Salario Mensual</h2>
  <label for="salario">Salario Base (nominal):</label>
  <input type="number" id="salario" [(ngModel)]="salario">

  <button (click)="calcularSalarioLiquido()">Calcular Ahora</button>

  <div *ngIf="salarioLiquido !== undefined">
    <p>Descuento de Renta: {{ descuentoRenta | currency }}</p>
    <p>Descuento AFP: {{ descuentoAFP | currency }}</p>
    <p>Descuento ISSS: {{ descuentoISSS | currency }}</p>
    <p>Salario Liquido a cancelar: {{ salarioLiquido | currency }}</p>
  </div>
</div>